.about-page {
    width: 100%;
    display: flex;
    padding-top: 1rem;
    padding-left: 14rem;
    padding-right: 20rem;

    & .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        flex: 1;

        & .title {
            font-size: 2rem;
            font-weight: 400;
            white-space: pre-line;

        }

        & .sub-title {
            font-size: 0.8rem;
            font-weight: 400;
        }
    }

    & .about-text {
        font-size: 1.1rem;
        flex: 2;
    }
}