.app-layout {
    grid-template-areas: "header"
        "main-content";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.app-header {
    grid-area: header;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
}

.main-content {
    grid-area: main-content;
}